@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-title {
    @apply text-[54px] font-bold max-lg:text-3xl;
  }

  .second-level-title {
    @apply text-[42px] font-semibold leading-snug max-lg:text-2xl;
  }

  .third-level-title {
    @apply text-[20px] font-normal max-lg:text-[16px];
  }

  .fourth-level-title {
    @apply text-[16px] font-normal max-lg:text-[14px];
  }

  .text {
    @apply text-text-light dark:text-text-dark;
  }

  .btn {
    @apply third-level-title rounded-[50px] px-10 py-[14px] font-bold text-text-light transition-colors delay-75;
  }

  .btnRepo {
    @apply text flex w-[170px] max-w-full items-center justify-center gap-[5px] rounded-[10px] px-5 py-[9px] text-[16px] font-bold text-text-light transition-colors delay-75;
  }

  .link {
    @apply third-level-title text-link-primary transition-all delay-75 hover:text-link-hover dark:hover:text-[#20acf8];
  }

  .timeline {
    @apply relative
    w-1/2
    pb-[60px]
    pr-[51px]
    text-right
    before:absolute
    before:-right-[2px]
    before:bottom-0
    before:top-0
    before:w-1
    before:bg-[#E1EEF4]
    before:[content:'']
    after:absolute
    after:-right-[17px]
    after:top-0
    after:h-[34px]
    after:w-[34px]
    after:rounded-[50%]
    after:border-4
    after:border-solid
    after:border-[#E1EEF4]
    after:bg-bg-light
    after:[content:''];
  }

  .leftTimeline {
    @apply pr-[51px] text-right before:-right-[2px] after:-right-[17px];
  }

  .rightTimeline {
    @apply ml-auto pl-[51px] text-left before:-left-0.5 after:right-[96%];
  }

  .borderLine {
    @apply inline bg-gradient-to-r from-underline-lightFrom to-underline-lightTo bg-[length:100%_4px] bg-bottom bg-no-repeat dark:from-underline-darkFrom dark:to-underline-darkTo;
  }
}

@layer utilities {
  .input {
    @apply border-b-2 border-b-[#E5E5E5] text-text-light outline-none dark:text-text-light;
  }

  .inputActive {
    @apply -top-6 text-base font-bold text-[#ECA73F] transition-all  delay-150;
  }

  .textAreaActive {
    @apply -top-7 text-base font-bold text-[#ECA73F] transition-all delay-150;
  }
}

.none {
  display: none;
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardNoneMix {
  animation: slideOut 1s ease forwards;
  animation-fill-mode: forwards;
}

.cardShowMix {
  animation: slideIn 1s ease forwards;
  animation-fill-mode: forwards;
}

.gradBorder {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 5px;
  background-size: 100% 7px;
  background-image: linear-gradient(to right, #080701, #ac9735);
}

.borderPosition {
  background-position: center bottom 7px;
}

/* section background with animate */
.bgAnimate {
  background: linear-gradient(
    140deg,
    #7ab7f1,
    #d9f1e4,
    #a2cfed,
    #f7cec9,
    #dd9ff1
  );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Link hover */

.linkHover {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #2085f8; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
  }
  &:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px; /* Высота линии */
    background-color: #2085f8; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s; /* Время эффекта */
  }
}

/* Preloader */

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
